

<ion-content [fullscreen]="true">
  <div class="iframe-fix" [hidden]="!isShow">
    <!-- <iframe
        src="https://app.jeatty.com"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
      ></iframe> -->
    <iframe
        src="http://healthchoice-uae.com/online"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen
      ></iframe>
    </div>

  <div id="container" [hidden]="isShow"> 
   

    <strong> <ion-spinner name="crescent"></ion-spinner> </strong>
   
  </div>
</ion-content>
